@use './variables' as *;

.p-tag-names {
  .c-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

    &:nth-child(even) {
      background-color: $bg-alternative;
    }

    &:hover {
      background-color: $hover-highlight;
    }

    > span:first-child {
      flex-grow: 1;
    }
  }
}
